<div id="app">
  <h2>Things to do whenever i may or may not get the chance: </h2>
  <h3>There are {{ incompleteCounter(tasks) }} left to do.</h3>
  <div v-for="task in prioritize(tasks)" v-on:click="toggleComplete(task)">
    <h3 v-bind:class="{completed: task.taskCompleted}">{{ task.text }}</h3>
  </div>
  <h2>add a new stuff to do:</h2>
  Task:<input v-model="newTaskText"><br>
  Priority:<input v-model="newTaskPriority"><br>
  <button v-on:click="addTask()">Add task</button><br>
  <button v-on:click="deleteCompleted(tasks)">Delete the things that were done already.</button>
</div>